<!DOCTYPE html>
<html>
<head>
    <title>Contato</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1>Contato</h1>
</header>

<div class="container">
    <form>
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="Email">
        <textarea placeholder="Mensagem"></textarea>
        <button class="btn">Enviar</button>
    </form>
</div>

</body>
</html>