<!DOCTYPE html>
<html>
<head>
    <title>Novo Produto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Novo Produto</h1>

<form action="/produtos/novo" method="POST">
    <input name="nome" placeholder="Nome" required>
    <input name="preco" placeholder="Preço" required>
    <button>Cadastrar</button>
</form>

<a href="/produtos">Voltar</a>

</body>
</html>