<!DOCTYPE html>
<html>
<head>
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Lista de Produtos</h1>

<a href="/produtos/novo">Novo Produto</a>
<a href="/">Home</a>

<ul>
    <% produtos.forEach(p => { %>
        <li>
            <%= p.nome %> - R$ <%= p.preco %>
            <a href="/produtos/editar/<%= p.id %>">Editar</a>
            <a href="/produtos/deletar/<%= p.id %>">Excluir</a>
        </li>
    <% }) %>
</ul>

</body>
</html>