<!DOCTYPE html>
<html>
<head>
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Sobre</h1>
<p>Este projeto foi desenvolvido para praticar o padrão MVC com Node.js.</p>

<a href="/">Home</a>
<a href="/contato">Contato</a>
<a href="/produtos">Produtos</a>

</body>
</html>